<div class="effort">
  <h1>Community Love</h1>
  <section>
    <button phx-click="add" phx-value-quantity="3">
      + 3
    </button>
    <div>
      {@number_responders}
    </div>
    &times;
    <div>
      {@average_minutes}
    </div>
    =
    <div>
      {@number_responders * @average_minutes}
    </div>
  </section>
  <form phx-submit="recalculate">
    <label>Minutes Per Responder:</label>
    <input type="number" name="minutes" value={@average_minutes} />
  </form>
</div>
